<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>

    <div>

      <div>
        <span class="card-title">{{ dog.name }}</span>
        <p>Breed: {{ dog.breed }}</p>
        <p>Age: {{ dog.age }}</p>
      </div>

      <div>
        <a href="{% url 'dog_update' dog.id %}">Edit</a>
        <a href="{% url 'dog_delete' dog.id %}">Delete</a>
      </div>
    </div>

  </body>
</html>
